// ---------------------------------------------------------------- "
// name			nordisk												"
// description	A colour scheme closely modelled on					"
// 				Arctic Ice Studio’s Nord palette					"
// 				https://github.com/arcticicestudio/nord				"
// author		kamil.stachowski@gmail.com							"
// version		0.1 (2016.10.29)									"
// license		GPLv3+												"
// ---------------------------------------------------------------- "


$col00: #252a33;		// blackish 1
$col01: #38404d;		// blackish 2
$col02: #4a5466;		// blackish 3
$col03: #5e6b81;		// blackish 4
$col04: #6f7e98;		// blackish 5

$col05: #d7dbe2;		// whitish 1
$col06: #ffffff;		// whitish 2

$col07: #8fbcbb;		// light blue 1
$col08: #81a1c1;		// light blue 2
$col09: #88c0d0;		// light blue 3
$col10: #5e81ac;		// light blue 4

$col11: #a3be8c;		// green
$col12: #b48ead;		// purple

$col13: #eccf95;		// yellow
$col14: #d18a75;		// orange
$col15: #bf6971;		// red
